.contact{
    width: 100%;
    min-height: 60vh;
    max-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../Resources/Images/contactBg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    &--1{
   
        display: flex;
        flex-direction: row;

        .first {
            border-color: white;
            border-width: 2px;
            padding: 0.5rem;
            padding-top: 1rem;
            border-style: solid;
            width: max-content;

        }

        .last{
            padding-top: 1rem;
            padding-left: 0.7rem;
        }
    }

    &--2{
        padding-top:2em;

        ol{
            display: flex;
            flex-direction: row;
            li{
                padding-right:1em;
               
            }
             ::after{
                background: transparent;
                

            }
        }

    }


    &--3{
        padding-top:2em;
        display: flex;
        flex-direction: row;
        

        .title{
            font-weight: 600;
            color: #B2B2B2;
            font-size:12px;
           
        }

        .subtitle{
            margin-left:2em;
            font-size:12px;
            color: #B2B2B2;
        }

    }
}

@media screen and (max-width: 700px) {
    .contact{
        width: 100%;
        min-height: 60vh;
        max-height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../Resources/Images/contactBg.jpg");
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    
    
        &--1{
       
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .first {
                font-size:16px;
                border-color: white;
                border-width: 2px;
                padding: 0.5rem;
                padding-top: 1rem;
                border-style: solid;
                width: max-content;
    
            }
    
            .last{
                font-size:16px;
                padding-top: 1rem;
                padding-left: 0em;
            }
        }
    
        &--2{
            padding-top:2em;
    
            ol{
                display: flex;
                flex-direction: row;
                align-items: center;
                li{
                   
                }
                 ::after{
                    background: transparent;
                    
    
                }
            }
    
        }
    
    
        &--3{
            padding-top:2em;
            display: flex;
            flex-direction: row;
            
    
            .title{
                font-weight: 600;
                color: #B2B2B2;
                font-size:9px;
               
            }
    
            .subtitle{
                margin-left:1em;
                font-size:9px;
                color: #B2B2B2;
            }
    
        }
    }

}