.hiddenLogin {
    :hover {
        color: white;
    }
}

.hiddenLoginBtn {
    position: fixed;
    right: 0;
    z-index: 1;
    color: rgba(37, 37, 37, 0);
    background-color: transparent;
    border: none;
    font-size: 20px;
}

.projectElem {
    height: 300px;
}

.language {
    position: fixed;
    top: 0;
    right:0;
    z-index: 2;
    margin-top:22px;

    button {
        color: white;
        background-color: rgba(49, 39, 94, 0.39);
        font-size: 10px;
        font-family: "Facundo-Regular", sans-serif;
        line-height: 30px;
        border: 1px solid #d5d9d9;
        border-radius: 8px;
        box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
        box-sizing: border-box;
        display: inline-block;
        padding: 0 8px 0 8px;
        margin-right: 6em;
        position: relative;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;        
    }

    button:hover{
        background-color: rgba(138, 135, 150, 0.39);
    }
}

