.navigation{
    z-index: 10;
}

.ulNav {
    margin-top: 2em;
    margin-left: 2em;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1;
   
}
.normalNav{
    display: block;
    z-index: 2;
}
.burgerNav{
    display: none;
}
li {
    cursor:pointer;
    margin-left: 40px;
    font-family: "Facundo-Regular", sans-serif;
    transition: background-position-x 0.9s;
    position: relative;
    :after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: $secondary;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    :hover:after {
        width: 100%;
        left: 0;
        
    }

    a {
        font-size: 16px;
        color: white;
        transition: all 0.45s;

          
    }
    &:hover a {
        color: $secondary;
    }
}

.burgerMenu{
    display: none;
}
 
@media screen and (max-width: 700px) {

    .normalNav{
        display: none;
    }

    .burgerNav{
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        z-index: 2;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        display: block;
    }
    .ulBurger{
        display: flex;
        flex-direction: column;
        position: fixed;
        top:10px;
        left:0px;
        margin-left:2em;
        text-align: left;
        justify-content: left;
        align-items:flex-start;
        margin-top:3em;
        z-index: 2;
        padding-right:1em;
        padding-left:1em;
        padding-top:0.5em;
        padding-bottom:0.5em;
        border-radius: 10px;

        background-color:rgba(25, 18, 66, 0.438);
       

       
       
    }

    li{
        margin-top:0.4em;
       margin-left:0px;
        
    }
    .burgerMenu{
        position: fixed;
        width:5%;
        display: block;
        margin-left:2em;
        margin-top:1em;
        z-index: 2;
    }
}