

h1{
    font-size:30px;
    color:white;
    font-family: 'Facundo-Bold',sans-serif;
}
h2{
    color:red;
    
}
h3{
    color:white;
    font-size:16px;
    font-family: 'Facundo-Regular',sans-serif;

}


a{
    color:white;
    font-family: 'Facundo-Regular',sans-serif;

}

p{
    color:white;
    font-size:15px;
    font-family: 'Facundo-Regular',sans-serif;
    line-height: 30px;

}
