@import './reset';
@import './typography';
@import './colors';
@import './navigation';

@font-face{
    font-family: FacundoRegular,sans-serif;
    src:  url('../Resources/Fonts/Facundo-Regular.ttf');
    

}

@font-face{
    font-family: FacundoBold,sans-serif;
    src:  url('../Resources/Fonts/Facundo-Bold.ttf');
    

}
