@import "./reset";
@import "./typography";
@import "./colors";
@import "./navigation";
@import "./elements";

@import "./Components/banner";
@import "./Components/about";
@import "./Components/work";
@import "./Components/gallery";
@import "./Components/contact";

@font-face {
    font-family: Facundo-Regular;
    src: url("../Resources/Fonts/Facundo-Regular.ttf");
}

html {
    scroll-behavior: smooth;
    transition: 5s ease;
    transform: 10s ease;
    max-width: 100%;
    overflow-x: hidden;
}
@font-face {
    font-family: Facundo-Bold;
    src: url("../Resources/Fonts/Facundo-Bold.ttf");
}

#app {
    font-family: FacundoRegular, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

.app {
    width: 100%;
}

@media screen and (max-width: 480px) {
}
